.container {
    display: flex;
    width: 25%;
    min-height: 15rem;
    justify-content: space-around;
    align-items: center;
}

.container > button {
    border: 1px solid white;
    color: var(--main-text);
    border-radius: 3rem;
    padding: .6rem 2.4rem;
    transition: all .75s ease-in-out;
}

.container > button:hover {
    background-color: white;
    color: black;
}