.btn {
    border-radius: 5rem;
    background: conic-gradient(from -90deg at 50% -25%, blue, blueviolet);
    color: var(--main-text);
    height: 2.5rem;
    width: 7rem;
    transition: .75s;
    font-weight: bold;
    margin-left: 5rem;
}

.btn:hover {
    filter: brightness(.8);
}