.container {
    position: absolute;
    padding: 1.5rem;
    right: 0;
    left: 1.5em;
    top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 4rem;
    width: 100%;
}

