.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.info {
    margin-top: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15rem;
}

.info h1 {
    text-align: center;
    color: var(--main-text);
    font-size: 4rem;
    margin-left: 14rem;
}

.info button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5rem;
    border: 2px solid white;
    background-color: var(--main-black);
    font-size: 1.75rem;
}

.info button:hover {
    filter: brightness(0.8);
}

.instructions {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    position: relative;
    transition: all .5s;
}

.recipeImg {
    object-fit: cover;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
}

.instructions div {
    width: 60rem;
    height: 35rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: 1.2rem;
}

.copyIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    width: 1.8em;
    height: 1.8em;
}

.copyIcon:hover {
    cursor: pointer;
    filter: brightness(.9);
}

.commentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}